<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Movie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Add Movie</h1>
        <form method="post">
            <label for="imdb_id">IMDB ID:</label>
            <input type="text" id="imdb_id" name="imdb_id" required>
            <button type="submit">Add Movie</button>
        </form>
    </div>
</body>

</html>
