<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>All Users</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.user_id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <a href="{{ url_for('user_details', user_id=user.user_id) }}" class="btn">View Details</a>
                            <a href="{{ url_for('add_movie', user_id=user.user_id) }}" class="btn">Add Movie</a>
                            <a href="{{ url_for('delete_user', user_id=user.user_id) }}" class="btn">Delete User</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div id="message" class="message" style="display: none;"></div>
    </div>
</body>
</html>
