<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel | Movies to Watch</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Admin Panel | Movies to Watch</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/add_user">Add User</a></li>
                <li><a href="/users">All Users</a></li>
            </ul>
        </nav>
    </div>
</body>

</html>
